@{
  Layout = "_Layout";
}

<form action="/artist" method="post">
  <label for="artistName">Add a new Artist</label>
  <input id="artistName" name="artistName" type="text">
  <button type="submit">Add it</button>
</form>