@{
  Layout = "_Layout";
}

    <h2>@Model.ArtistName</h2>
    <form action="/artist/{id}" method="post">
        <button href="/artist" type="submit" id="homePage">Delete artists</button>
    </form>
    <a href='/'>View all Artists</a>